{% extends 'base.html' %}

{% block main %}
<h2 class="newdeposit">Welcome to the Deposit Page</h2>
<h3 class="deposits-menu">Kindly enter deposit details in the form below</h3>
<div class="deposit-page">
  <div class ="inner-deposit-page">
  <form action="/transact/deposit" method="POST" class="sub-deposit">
    <label for="amount">Enter the amount you want to deposit</label>
    <input type="number" name="amount" required>
    <input type="submit" value="Deposit" onclick="submitted()" class ="submit-deposit">
  </form>
  </div>
</div>
<script type="text/javascript" src="{{url_for('static', filename='app.js')}}"></script>
{% endblock %}